.desktop-view .has-sidebar-page .d-header-wrap::before {
  content: "";
  display: inline;
  width: calc(var(--d-sidebar-width) - 1px);
  height: 4em;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--sidebar-border);
  border-right: 1px solid var(--sidebar-border);
  position: absolute;
}

.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--sidebar-border);
}

.d-header #site-text-logo {
  color: var(--bright-text);
  padding-left: calc(var(--d-sidebar-row-horizontal-padding) / 2);
}

.mobile-view .d-header #site-text-logo {
  font-size: var(--font-0);
  color: var(--primary);

  display: grid;
  grid:
"left-menu logo extra-info header-buttons chat-header-icon search right-menu" auto;
  grid-column-gap: 0.2em;
  padding: 0 8px;
  box-sizing: border-box;

  & > .wrap {
    &,
    & .contents {
      display: contents;
    }
  }

  .panel {
    &,
    & > .d-header-icons {
      display: contents;
    }
  }

  .header-buttons {
    grid-area: header-buttons;
  }
  .search-dropdown {
    grid-area: search;
  }
  .hamburger-dropdown {
    grid-area: left-menu;
  }
  .current-user {
    grid-area: right-menu;
  }
  .extra-info-wrapper {
    grid-area: extra-info;
    width: calc(100vw - 100px);
  }

  // some protection for text-only site titles
  .title {
    grid-area: logo;
    @if ($center_logo == "true") {
      margin: 0 auto;
    }
    max-width: unset;
  }
  
}

.full-page-chat .chat-full-page-header {
  border-top: none;
}
