#main>div #main-outlet {
max-width: 100%;
width: 1110px;
}

.more-topics__container .more-topics__list-title, .more-topics__container .more-topics__browse-more {
padding-left: 0em !important;
}

#banner-content_wrap {
margin-bottom: 2em !important;
}

.c-heading {
    display: none !important;
}

.category-title-header {
    margin-bottom: 1em;
}

.custom-search-banner-wrap {
padding: 2.5em 0 1em !important;
}

//Hide user avatar and remove left margin.
.topic-list td div.pull-left a { display: none; }
.topic-list td div.right { margin-left: 0px; }
