@import "variables";
@import "presence";
@import "spacing";
@import "colors";
@import "header";
@import "misc";

.sidebar-theme-toggle__wrapper
  .sidebar-theme-toggle-dropdown.select-kit.is-expanded
  .select-kit-body {
  background: var(--sidebar-color);
  border-color: var(--sidebar-border);
  box-shadow: none;
  width: calc(var(--d-sidebar-width) - 1.75em) !important;
  border-radius: 8px;
  min-width: unset !important;
}

.sidebar-section-header-button {
    display: none !important;
}

.sidebar-footer-container {
    display: none !important;
}

//.navigation-container {
//    display: none !important;
//}

//removed the highlight fade in animation. 
.highlighted {
    animation: none !important;
}

.d-header-icons .d-icon {
    font-size: var(--font-up-3) !important;
}

.header-sidebar-toggle button .d-icon {
    font-size: var(--font-up-3) !important;
}


.sidebar-section-wrapper .sidebar-section-header-text {
    font-weight: bold !important;
}

.select-kit.single-select.dropdown-select-box .select-kit-header {
    display: none;
}

topic-footer-buttons .pinned-button .reason, #topic-footer-buttons .topic-notifications-button .reason {
    display: none;
}


//----
//.list-controls .navigation-container {
//    display: none;
//}

//-----sign-up button remove-----------
button.sign-up-button{
  display:none;
} 

//--------------------------------------------------
ol.category-breadcrumb {
    display: none;
}
#navigation-bar {
    display: none;
}

.list-controls {
    ol.category-breadcrumb, ul#navigation-bar {
        display: none;
   }
    .navigation-container {
        flex-direction: row-reverse;
    }
}

.list-controls .navigation-container {
    display: none;
}


//----------sidebar messages----------
.sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
    display:none;
}


//--------fix spacing when used with header new topic plugin --------------
//.has-sidebar-page .d-header>.wrap .contents {
//    gap: 0em !important;
//}

.topic-body .post-info.edits {
    display: none;
}

.staff .topic-body .post-info.edits {
    display: initial;
}

//-------------
.edit-topic {
    display: none !important;
}


//------------------
.category-title-header {
  &.category-banner-fashion {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/fashionp.png) !important;
  }
  &.category-banner-electronics {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/electronicsp.png) !important;
  }
  &.category-banner-general {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/generalp.png) !important;
  }
  &.category-banner-cosmetics {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/cosmeticsp.png) !important;
  }
  &.category-banner-education {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/educationpb.png) !important;
  }
  &.category-banner-entertainment {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/entertainmentp.png) !important;
  }
  &.category-banner-blog {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/feedbackp.png) !important;
  }
  &.category-banner-finance {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/financep.png) !important;
  }
  &.category-banner-gaming {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/gamingp.png) !important;
  }
  &.category-banner-health {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/healthp.png) !important;
  }
  &.category-banner-staff {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/staffp.png) !important;
  }
  &.category-banner-travel {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/travelp.png) !important;
  }
  &.category-banner-home {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/homep.png) !important;
  }
}


.category-title-contents .category-title {
    color: var(--dimmed-text);
    text-shadow: var(--secondary) 0px 0px 50px;
}

.category-title-header {
    margin-bottom: 1em;
}

//hide footer message
.topic-list-bottom .footer-message {
    display: none !important;
}

//.custom-footer {
//  background: url(https://media.skooph.com/banner-doodles/stacked-waves-haikei.svg) !important;
//}

.custom-footer .first-box {
    max-width: 100% !important; 
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.hamburger-panel .revamped .sidebar-section-wrapper .sidebar-section-link.active {
    font-weight: normal;
    background: var(--tertiary-900) !important;
}

.md-table {
    width: 100%;
}

.md-table table {
    width: 100%;
}

.discourse-no-touch .fullscreen-table-wrapper:hover {
    border-radius: none !important;
    box-shadow: none !important;
}


//-block quote design
blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #ebf3ff;
  padding: 1.7em 30px;
  position: relative;
  background-color: #fbeaee;
  border-radius: 5px;
  margin: 20px 0;
}

blockquote:before {
  content: '👽';
  position: absolute;
  top: 0em;
  left: 50%;
  padding: 5px 0 0 0;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  color: #B7234C;
  font: 1.7em/1.1em 'FontAwesome';
  text-align: center;
  border-radius: 50px;
  background-color: #c4d6ff;
  box-shadow: 0 1px 5px #888888;
}

.cooked>blockquote,
.cooked>blockquote:first-child {
  margin-top: 20px;
}
