@import "variables";
@import "presence";
@import "spacing";
@import "colors";
@import "header";
@import "misc";

.sidebar-theme-toggle__wrapper
  .sidebar-theme-toggle-dropdown.select-kit.is-expanded
  .select-kit-body {
  background: var(--sidebar-color);
  border-color: var(--sidebar-border);
  box-shadow: none;
  width: calc(var(--d-sidebar-width) - 1.75em) !important;
  border-radius: 8px;
  min-width: unset !important;
}

.sidebar-section-header-button {
    display: none !important;
}

.sidebar-footer-container {
    display: none !important;
}

//.navigation-container {
//    display: none !important;
//}

//removed the highlight fade in animation. 
.highlighted {
    animation: none !important;
}

.d-header-icons .d-icon {
    font-size: var(--font-up-3) !important;
}

.header-sidebar-toggle button .d-icon {
    font-size: var(--font-up-3) !important;
}


.sidebar-section-wrapper .sidebar-section-header-text {
    font-weight: bold !important;
}

.select-kit.single-select.dropdown-select-box .select-kit-header {
    display: none;
}

topic-footer-buttons .pinned-button .reason, #topic-footer-buttons .topic-notifications-button .reason {
    display: none;
}


//----
//.list-controls .navigation-container {
//    display: none;
//}

//-----sign-up button remove-----------
button.sign-up-button{
  display:none;
} 

//--------------------------------------------------
ol.category-breadcrumb {
    display: none;
}
#navigation-bar {
    display: none;
}

.list-controls {
    ol.category-breadcrumb, ul#navigation-bar {
        display: none;
   }
    .navigation-container {
        flex-direction: row-reverse;
    }
}

.list-controls .navigation-container {
    display: none;
}


//----------sidebar messages----------
.sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
    display:none;
}


//--------fix spacing when used with header new topic plugin --------------
//.has-sidebar-page .d-header>.wrap .contents {
//    gap: 0em !important;
//}

.topic-body .post-info.edits {
    display: none;
}

.staff .topic-body .post-info.edits {
    display: initial;
}

//-------------
.edit-topic {
    display: none !important;
}


//------------------
.category-title-header {
  &.category-banner-fashion {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/fashiondooodles.svg) !important;
  }
  &.category-banner-electronics {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/electronicsdoodles.svg) !important;
  }
  &.category-banner-general {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/generaldooodles.svg) !important;
  }
  &.category-banner-cosmetics {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/cosmeticdooodles.svg) !important;
  }
  &.category-banner-education {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/educationdooodles.svg) !important;
  }
  &.category-banner-entertainment {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/entertainmentdooodles.svg) !important;
  }
  &.category-banner-feedback {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/feedbackdooodles.svg) !important;
  }
  &.category-banner-finance {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/financedooodles.svg) !important;
  }
  &.category-banner-gaming {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/gamingdooodles.svg) !important;
  }
  &.category-banner-health {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/healthdooodles.svg) !important;
  }
  &.category-banner-staff {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/staffdooodles.svg) !important;
  }
  &.category-banner-travel {
        background: url(https://skooph.blr1.cdn.digitaloceanspaces.com/banner-doodles/traveldooodles.svg) !important;
  }
}


.category-title-contents .category-title {
    color: var(--dimmed-text);
    text-shadow: var(--secondary) 0px 0px 50px;
}


